<app-list-table
    title="Rozliczanie godzin"
    [observable$]="observable$"
    [tableBodyTemplate]="tableBodyTemplate"
    [tableHeadTemplate]="tableHeadTemplate"
    (addNew)="onAddNewEmptyRecord()"
>
    <ng-template #tableHeadTemplate>
        <th>Lp.</th>
        <th>Data</th>
        <th>Imie i nazwisko</th>
        <th>Nazwa aktywności</th>
        <th>Opis</th>
        <th colspan="2">Liczba godzin</th>
    </ng-template>
    <ng-template #tableBodyTemplate [typedTemplate]="tableBodyContext" let-records>
        <app-new-hours-settlement></app-new-hours-settlement>
        <tr *ngFor="let hourSettlement of records">
            <td>{{ hourSettlement.idx }}</td>
            <td>{{ hourSettlement.work_date }}</td>
            <td>{{ hourSettlement.worker_name }} {{ hourSettlement.worker_surname }}</td>
            <td>{{ hourSettlement.activity_name }}</td>
            <td>{{ hourSettlement.description }}</td>
            <td>{{ hourSettlement.amount }}</td>
            <td class="d-flex justify-content-end">
                <app-confirm-button
                    label="Usuń"
                    confirmBtnClass="btn-danger"
                    (confirm)="onDeleteItem(hourSettlement.id!)"
                ></app-confirm-button>
            </td>
        </tr>
    </ng-template>
</app-list-table>
