<h1>Witaj {{ userFullname }} - {{ roles | roles }}</h1>
<form class="mt-5">
  <div class="row">
    <div class="col">
      <input
        class="form-control"
        type="number"
        name="productCode"
        #productCodeControl
        [(ngModel)]="productCode"
      />
    </div>
    <div class="col">
      <button (click)="getProduct()" class="btn btn-primary" type="submit">
        Wyszukaj
      </button>
    </div>
    <div class="col">
      <button (click)="submitSell()" class="btn btn-warning w-100">
        Zakończ sprzedaż
      </button>
    </div>
  </div>
</form>
<div class="overflow-auto mt-5">
  <table class="table">
    <thead>
      <tr>
        <td>Lp.</td>
        <td>Kod</td>
        <td>Nazwa</td>
        <td>Cena/szt</td>
        <td>Ilość</td>
        <td>Suma</td>
        <td>Opcje</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product.kod }}</td>
        <td>{{ product.nazwa_krotka }}</td>
        <td class="currency-addon">{{ product.cena }}</td>
        <td>
          <input
            class="form-control"
            [name]="product._id"
            [(ngModel)]="product.ilosc"
            min="1"
            type="number"
          />
        </td>
        <td class="currency-addon">{{ product.cena * product.ilosc }}</td>
        <td>
          <button (click)="removeProduct(i)" class="btn btn-danger">
            usuń
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="5">SUMA</td>
        <td class="currency-addon">{{ sum }}</td>
      </tr>
      <tr>
        <td colspan="5">Zapłata</td>
        <td class="position-relative">
          <input
            class="form-control"
            type="number"
            name="amountPayed"
            [(ngModel)]="amountPayed"
            min="0"
          />
          <span class="currency-field-addon">PLN</span>
        </td>
      </tr>
      <tr>
        <td colspan="5">Reszta</td>
        <td
          class="currency-addon"
          id="change"
          [ngClass]="{ 'text-danger': amountPayed - sum > 0 }"
        >
          {{ amountPayed - sum < 0 ? 0 : amountPayed - sum }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
