<h1>Witaj {{ userFullname }} - {{ roles | roles }}</h1>
<form class="mt-5">
  <div class="row">
    <div class="col">
      <input class="form-control" type="number" name="produkt_id" />
    </div>
    <div class="col">
      <button class="btn btn-primary" type="submit">Wyszukaj</button>
    </div>
    <div class="col">
      <button class="btn btn-warning w-100">Zakończ sprzedaż</button>
    </div>
  </div>
</form>
<div class="overflow-auto mt-5">
  <table class="table">
    <thead>
      <tr>
        <td>Lp.</td>
        <td>Kod</td>
        <td>Nazwa</td>
        <td>Cena/szt</td>
        <td>Ilość</td>
        <td>Suma</td>
        <td>Opcje</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>5254</td>
        <td>kefir</td>
        <td class="currency-addon">3.5</td>
        <td>5</td>
        <td class="currency-addon">17.5</td>
        <td>
          <button class="btn btn-danger">usuń</button>
        </td>
      </tr>
      <tr>
        <td colspan="5">SUMA</td>
        <td class="currency-addon">0</td>
      </tr>
      <tr>
        <td colspan="5">Zapłata</td>
        <td class="position-relative">
          <input class="form-control" type="number" id="amountPayed" />
          <span class="currency-field-addon">PLN</span>
        </td>
      </tr>
      <tr>
        <td colspan="5">Reszta</td>
        <td class="currency-addon" id="change">0</td>
      </tr>
    </tbody>
  </table>
</div>
