.currency-field-addon {
  /* use position-relative on parent element */
  position: absolute;
  right: 10%;
  top: 25%;
}

.currency-addon::after {
  content: " PLN";
}

.form-check > *,
.form-check-label > * {
  margin: 0 5px;
}
