.currency-field-addon {
    /* use position-relative on parent element */
    position: absolute;
    right: 10%;
    top: 25%;
}

.currency-addon::after {
    content: ' PLN';
}

.form-check > *,
.form-check-label > * {
    margin: 0 5px;
}

.product-options label {
    font-weight: 600;
    font-size: 0.9em;
}

.product-options-container {
    display: flex;
    column-gap: 10px;
}
