<h1>Towary i produkty</h1>
<form>
    <div class="row">
        <div class="col">
            <input
                class="form-control"
                type="number"
                name="productCode"
                #productCodeControl
                [(ngModel)]="productCode"
            />
        </div>
        <div class="col">
            <button (click)="onGetProduct()" class="btn btn-primary" type="submit">Wyszukaj</button>
        </div>
        <div class="col">
            <button
                (click)="submitSell()"
                [disabled]="products.length === 0 || !this.paymentMethod"
                class="btn btn-warning w-100"
            >
                Zakończ sprzedaż
            </button>
        </div>
    </div>
</form>
<div class="overflow-auto mt-5">
    <table class="table">
        <thead>
            <tr>
                <td>Lp.</td>
                <td>Kod</td>
                <td>Nazwa</td>
                <td>Cena/szt</td>
                <td>Ilość</td>
                <td>Suma</td>
                <td>Opcje</td>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let product of products; let i = index">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.short_name }}</td>
                    <td class="currency-addon">{{ product.price }}</td>
                    <td>
                        <input
                            *ngIf="!isProductDiscount(product)"
                            class="form-control"
                            name="productAmount"
                            [(ngModel)]="product.amount"
                            min="1"
                            type="number"
                            [disabled]="isProductIdAmountDisabled(+product.code)"
                        />
                        <input
                            *ngIf="isProductDiscount(product)"
                            class="form-control"
                            name="productAmount"
                            [(ngModel)]="product.amount"
                            min="1"
                            [max]="product.maxDiscountAmount!"
                            type="number"
                        />
                    </td>
                    <td class="currency-addon">
                        {{ product.price * product.amount | currency : ' ' }}
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="removeProduct(i)">usuń</button>
                    </td>
                </tr>
                <tr *ngIf="hasProductOptions(product)">
                    <td class="product-options" colspan="8">
                        <label>Opcje produktu</label>
                        <div class="product-options-container">
                            <div *ngFor="let optionCategory of product.product_category_options; let j = index">
                                <label>{{ optionCategory.category_name }}</label>
                                <select class="form-select" [(ngModel)]="product.selectedOptions[j].option_id">
                                    <option *ngFor="let option of optionCategory.options" [value]="option.id">
                                        {{ option.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="isProductDiscount(product)">
                    <td class="form-text" colspan="8">
                        Pozostało {{ product.maxDiscountAmount! / 2 }} PLN rabatu pracowniczego
                    </td>
                </tr>
            </ng-container>
            <tr>
                <td colspan="5">SUMA</td>
                <td class="currency-addon">{{ sum | currency : ' ' }}</td>
            </tr>
            <tr>
                <td colspan="5">Zapłata</td>
                <td class="position-relative">
                    <input class="form-control" type="number" name="amountPayed" [(ngModel)]="amountPayed" min="0" />
                    <span class="currency-field-addon">PLN</span>
                </td>
            </tr>
            <tr>
                <td colspan="5">Reszta</td>
                <td class="currency-addon" id="change" [ngClass]="{ 'text-danger': amountPayed - sum > 0 }">
                    {{ amountPayed - sum < 0 ? 0 : (amountPayed - sum | currency : ' ') }}
                </td>
            </tr>
            <tr>
                <td colspan="5">Metoda płatności</td>
                <td class="payment-methods">
                    <div class="d-flex align-items-center">
                        <input
                            [(ngModel)]="paymentMethod"
                            value="CASH"
                            class="form-check-input"
                            type="radio"
                            name="paymentMethod"
                            id="cash"
                        />
                        <label class="form-check-label" for="cash">
                            <img src="assets/money.png" width="50px" height="50px" alt="obrazek z pieniędzmi" />
                            Gotówka
                        </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <input
                            [(ngModel)]="paymentMethod"
                            value="BLIK"
                            class="form-check-input"
                            type="radio"
                            name="paymentMethod"
                            id="blik"
                        />
                        <label class="form-check-label" for="blik">
                            <img src="assets/blik.svg" width="50px" height="50px" alt="obrazek z pieniędzmi" />
                            BLIK
                        </label>
                    </div>
                </td>
            </tr>
            <tr *ngIf="isOrder()">
                <td colspan="5">Zamówienie na przerwę:</td>
                <td>
                    <select [(ngModel)]="lessonId" name="lessonId" class="form-select">
                        <option value="null" disabled>Obecna</option>
                        <option *ngFor="let lesson of lessons$ | async" [value]="lesson.id">
                            {{ lesson | lessonTime }}
                        </option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-done-orders></app-done-orders>
