<app-list-table
    title="Zarządzanie produktami"
    [observable$]="observable$"
    [tableHeadTemplate]="tableHead"
    [tableBodyTemplate]="tableBody"
    (addNew)="onAddNewEmptyRecord()"
>
    <ng-template #tableHead>
        <th>Id</th>
        <th>Kod produktu</th>
        <th>Typ produktu</th>
        <th>Krótka nazwa</th>
        <th>Pełna nazwa</th>
        <th>Cena</th>
        <th>Opcje</th>
    </ng-template>
    <ng-template #tableBody [typedTemplate]="observableContext" let-products>
        <app-new-product (recordCreate)="onCreateItem($event)"></app-new-product>
        <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>
                <app-editable-value-field
                    [value]="product.code"
                    (valueChange)="onFieldChange(product, { code: $event })"
                ></app-editable-value-field>
            </td>
            <td>
                <app-editable-list-field
                    [list]="productEditableTypeList"
                    [value]="getProductEditableTypeByProductType(product.type!)"
                    (valueChange)="onFieldChange(product, { type: getProductEditableTypeById($event.id) })"
                ></app-editable-list-field>
            </td>
            <td>
                <app-editable-value-field
                    [value]="product.short_name"
                    (valueChange)="onFieldChange(product, { short_name: $event })"
                ></app-editable-value-field>
            </td>
            <td>
                <app-editable-value-field
                    [value]="product.full_name"
                    (valueChange)="onFieldChange(product, { full_name: $event })"
                ></app-editable-value-field>
            </td>
            <td class="currency">
                <app-editable-value-field
                    [value]="product.price"
                    (valueChange)="onFieldChange(product, { price: $event })"
                ></app-editable-value-field>
            </td>
            <td>
                <app-confirm-button
                    label="Usuń"
                    confirmBtnClass="btn-danger"
                    cancelBtnClass="btn-info"
                    (confirm)="onDeleteItem(product.id!)"
                ></app-confirm-button>
            </td>
        </tr>
    </ng-template>
</app-list-table>
