<div class="sticky-container">
    <h1>Kawonament</h1>
    <app-table-sticky class="mt-3">
        <th>Lp.</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Liczba pozostałych kaw</th>
        <th>Ostatnie użycie</th>
        <th>Opcje</th>

        <tr *ngFor="let subscriber of subscribers; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ subscriber.name }}</td>
            <td>{{ subscriber.surname }}</td>
            <td>{{ subscriber.coffees_left }}</td>
            <td [ngClass]="{ 'text-danger': isSubscriptionUsedToday(subscriber) }">
                {{ subscriber.coffees_receive_datetimes | firstElementOfArray }}
            </td>
            <td class="d-flex justify-content-between">
                <app-edit-by-value-field
                    btnText="Zmodyfikuj o"
                    btnClass="btn-success me-2"
                    (btnClick)="updateCoffeesLeftBy(i, $event)"
                ></app-edit-by-value-field>
                <button (click)="useCoffeeSubscription(i)" class="btn btn-warning">Użyj abonamentu</button>
            </td>
        </tr>
    </app-table-sticky>
</div>
