<form #form="ngForm" *ngFor="let record of records; let i = index">
    <tr>
        <td><input [(ngModel)]="record.id" name="id" type="text" class="form-control" disabled /></td>
        <td><input [(ngModel)]="record.name" name="name" type="text" class="form-control" required /></td>
        <td><input [(ngModel)]="record.surname" name="surname" type="text" class="form-control" required /></td>
        <td><input [(ngModel)]="record.password" name="password" type="text" class="form-control" required /></td>
        <td></td>
        <td class="buttons-container">
            <button (click)="onAddConfirmRecord(record, i)" class="btn btn-primary" [disabled]="form.invalid">
                Dodaj
            </button>
            <button (click)="onDeleteRecord(i)" class="btn btn-warning">Anuluj</button>
        </td>
    </tr>
</form>
