<form #form="ngForm" *ngFor="let record of records$ | async; let idx = index; let isLast = last">
    <tr [class.last]="isLast">
        <td><input [(ngModel)]="record.id" name="id" type="text" class="form-control" disabled /></td>
        <td><input [(ngModel)]="record.name" name="name" type="text" class="form-control" required /></td>
        <td><input [(ngModel)]="record.surname" name="surname" type="text" class="form-control" required /></td>
        <td><input [(ngModel)]="record.password" name="password" type="text" class="form-control" required /></td>
        <td>
            <app-multiple-select-field
                *ngIf="roles$ | async as roles"
                [(value)]="record.roles!"
                [availableValues]="roles"
                selectedValuesLabel="Posiadane role"
                noSelectedValuesLabel="Brak ról"
            ></app-multiple-select-field>
        </td>
        <td class="buttons-container">
            <button (click)="submitRecord(idx)" class="btn btn-primary" [disabled]="form.invalid">Dodaj</button>
            <button (click)="deleteRecord(idx)" class="btn btn-warning">Anuluj</button>
        </td>
    </tr>
</form>
