<app-list-table
    title="Zarządzanie użytkownikami"
    [observable$]="observable$"
    [tableHeadTemplate]="tableHead"
    [tableBodyTemplate]="tableBody"
    (addNew)="onAddNewEmptyRecord()"
>
    <ng-template #tableHead>
        <th>Id</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Kod logowania</th>
        <th>Role</th>
        <th>Opcje</th>
    </ng-template>
    <ng-template #tableBody [typedTemplate]="userType" let-users>
        <app-new-user></app-new-user>
        <tr *ngFor="let user of users; trackBy: trackByFn">
            <td>{{ user.id }}</td>
            <td>
                <app-editable-value-field
                    [value]="user.name"
                    (valueChange)="onFieldChange(user, { name: $event })"
                ></app-editable-value-field>
            </td>
            <td>
                <app-editable-value-field
                    [value]="user.surname"
                    (valueChange)="onFieldChange(user, { surname: $event })"
                ></app-editable-value-field>
            </td>
            <td>
                <app-editable-value-field
                    [isEncrypted]="true"
                    [value]="user.password"
                    (valueChange)="onFieldChange(user, { password: $event })"
                ></app-editable-value-field>
            </td>
            <td>
                <app-multiple-select-field
                    *ngIf="roles$ | async as roles"
                    [(value)]="user.roles!"
                    [availableValues]="roles"
                    (valueChange)="onUserRolesChange(user, $event)"
                    selectedValuesLabel="Posiadane role"
                    noSelectedValuesLabel="Brak ról"
                ></app-multiple-select-field>
            </td>
            <td>
                <app-confirm-button
                    label="Usuń"
                    confirmBtnClass="btn-danger"
                    cancelBtnClass="btn-info"
                    (confirm)="onDeleteItem(user.id!)"
                ></app-confirm-button>
            </td>
        </tr>
    </ng-template>
</app-list-table>
