<h1>Rozliczanie godzin</h1>
<button
  (click)="addHoursSettlementRecord()"
  class="ms-auto d-block btn btn-primary"
>
  +
</button>
<div class="overflow-auto mt-2">
  <table class="table">
    <thead>
      <tr>
        <td>Lp.</td>
        <td>Data</td>
        <td>Imie i nazwisko</td>
        <td>Nazwa aktywności</td>
        <td>Opis</td>
        <td colspan="2">Liczba godzin</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ record.work_date | date : "dd.MM.yyyy" }}</td>
        <td>{{ record.name }} {{ record.surname }}</td>
        <td>{{ record.activity_name }}</td>
        <td>{{ record.description }}</td>
        <td>{{ record.amount }}</td>
        <td class="d-flex justify-content-end">
          <app-confirm-button
            (confirm)="deleteHoursSettlementRecord(record.id)"
          ></app-confirm-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
