<app-list-table
    title="Rozliczanie godzin"
    [observable$]="records$"
    [tableBodyTemplate]="tableBodyTemplate"
    [tableHeadTemplate]="tableHeadTemplate"
    (addNew)="addHoursSettlementRecord()"
>
    <ng-template #tableHeadTemplate>
        <th>Lp.</th>
        <th>Data</th>
        <th>Imie i nazwisko</th>
        <th>Nazwa aktywności</th>
        <th>Opis</th>
        <th colspan="2">Liczba godzin</th>
    </ng-template>
    <ng-template #tableBodyTemplate [typedTemplate]="tableBodyContext" let-records>
        <tr *ngFor="let record of records">
            <td>{{ record.idx }}</td>
            <td>{{ record.work_date }}</td>
            <td>{{ record.worker_name }} {{ record.worker_surname }}</td>
            <td>{{ record.activity_name }}</td>
            <td>{{ record.description }}</td>
            <td>{{ record.amount }}</td>
            <td class="d-flex justify-content-end">
                <app-confirm-button
                    label="Usuń"
                    confirmBtnClass="btn-danger"
                    (confirm)="deleteHoursSettlementRecord(record)"
                ></app-confirm-button>
            </td>
        </tr>
    </ng-template>
</app-list-table>
