<form #form="ngForm" *ngFor="let record of records; let i = index; let isLast = last">
    <tr [class.last]="isLast">
        <td><input [(ngModel)]="record.id" name="id" type="text" class="form-control" disabled /></td>
        <td><input [(ngModel)]="record.work_date" name="work_date" type="date" class="form-control" required /></td>
        <td>
            <app-editable-list-field
                [value]="getUserEditableById$(record.worker_id!) | async"
                (valueChange)="onWorkerIdChange(record, $event.id)"
                [list]="usersEditable$ | async"
            ></app-editable-list-field>
        </td>
        <td>
            <app-editable-list-field
                [value]="getActivityEditableById$(record.activity_id!) | async"
                (valueChange)="onActivityIdChange(record, $event.id)"
                [list]="activitiesEditable$ | async"
            ></app-editable-list-field>
        </td>
        <td>
            <input
                [(ngModel)]="record.description"
                [disabled]="isActivityDescriptionDisabled(record.activity_id!)"
                name="description"
                type="text"
                class="form-control"
                required
            />
        </td>
        <td><input [(ngModel)]="record.amount" name="amount" type="number" class="form-control" required /></td>
        <td class="buttons-container">
            <button
                class="btn btn-primary"
                (click)="onAddConfirmRecord(record, i)"
                [disabled]="isFormInvalid(form, record)"
            >
                Dodaj
            </button>
            <button (click)="onDeleteRecord(i)" class="btn btn-warning">Anuluj</button>
        </td>
    </tr>
</form>
