<h1>Dodawanie godzin</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="form-group col-12 col-md-6">
      <label for="workerId">Osoba</label>
      <select class="form-select" ngModel name="workerId" required>
        <option
          class="text-capitalize"
          *ngFor="let worker of workers"
          [value]="worker.id"
        >
          [{{ worker.id }}] {{ worker.name }} {{ worker.surname }}
        </option>
      </select>
    </div>
    <div class="form-group col-12 col-md-6">
      <label for="activityId">Kategoria</label>
      <select
        class="form-select"
        [(ngModel)]="activityId"
        (change)="checkActivity()"
        name="activityId"
        required
      >
        <option
          class="text-capitalize"
          *ngFor="let activity of activities"
          [value]="activity.id"
        >
          [{{ activity.id }}] {{ activity.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="description">Opis pracy na rzecz sklepiku</label>
      <textarea
        [disabled]="!isOtherActivity"
        class="form-control"
        ngModel
        name="description"
        required
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12 col-md-6">
      <label for="date">Data</label>
      <input class="form-control" type="date" ngModel name="date" required />
    </div>
    <div class="form-group col-12 col-md-6">
      <label for="amount">Liczba godzin</label>
      <input
        class="form-control"
        type="number"
        ngModel
        name="amount"
        required
      />
    </div>
  </div>
  <button [disabled]="form.invalid" class="btn btn-primary mt-5 w-100">
    Potwierdź
  </button>
</form>
