@import 'ngx-toastr/toastr';

@font-face {
    font-family: 'Exo2';
    src: url('./assets/fonts/Exo2.ttf');
}

body {
    --bs-body-font-family: 'Exo2';
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 40px !important;
}

.currency::after {
    content: ' PLN';
}

.sticky-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card.disabled {
    background-color: #ddd;
}

.card.disabled .list-group-item {
    background-color: #eee;
}

.fixed-buttons-container {
    position: fixed;
}

.fixed-buttons-container.bottom {
    bottom: 15px;
    right: 20px;
}
