<div appAnimateOnEnter animationName="fadeIn">
    <h1 class="h2">Raport dzienny protokół zamknięcia sklepiku</h1>
    <table class="mb-4">
        <tr>
            <th colspan="3">Dzienny Protokół Zamknięcia Sklepiku</th>
            <th colspan="2">{{ date }}</th>
            <th>ZS/....../..../....</th>
        </tr>
        <tr>
            <th>Lp</th>
            <th>Kod</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th>Suma</th>
        </tr>
        <ng-container *ngFor="let raportProduct of raport.products | keyvalue">
            <tr *ngFor="let product of raportProduct.value.products; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.short_name }}</td>
                <td class="currency">{{ product.price | currency : ' ' }}</td>
                <td>{{ product.amount }}</td>
                <td class="currency">{{ product.totalPrice | currency : ' ' }}</td>
            </tr>
            <tr>
                <th colspan="5">{{ raportProduct.value.totalPriceLabel }}</th>
                <th class="currency">
                    {{ raportProduct.value.totalPrice | currency : ' ' }}
                </th>
            </tr>
        </ng-container>
        <tr>
            <th colspan="5">Łącznie na kasie</th>
            <th class="currency">
                {{ raport.totalPriceWithDiscounts | currency : ' ' }}
            </th>
        </tr>
        <tr>
            <th colspan="5">Suma obrotu</th>
            <th class="currency">{{ raport.totalPrice | currency : ' ' }}</th>
        </tr>
        <tr class="signature">
            <td colspan="3">
                <h2>Saldo kasowe (pomniejszone o wkład 30zł)</h2>
                <p class="currency">{{ raport.totalCashPrice | currency : ' ' }}</p>
            </td>
            <td colspan="3">
                <h2>Saldo terminala (wypełniane następnego dnia)</h2>
                <p class="currency">{{ raport.totalNonCashPrice | currency : ' ' }}</p>
            </td>
        </tr>
        <tr class="signature">
            <td colspan="3"><h2>Podpisy załogi</h2></td>
            <td colspan="3"><h2>Podpis kierownika/zastępcy</h2></td>
        </tr>
    </table>

    <div class="d-flex flex-wrap justify-content-center mi">
        <button
            *appRequiredRoles="['admin']"
            [disabled]="isLoading || isRaportGenerated || !raport.totalPrice"
            (click)="generateRaport()"
            class="btn btn-danger"
        >
            Generuj
        </button>
        <button
            *appRequiredRoles="['admin']"
            [disabled]="!isRaportGenerated"
            (click)="downloadRaport && downloadRaport()"
            class="btn btn-success"
        >
            Pobierz jako PDF
        </button>
    </div>
</div>
