.card {
    background-color: blueviolet;
    color: #fff;
    border: 0;
}

.flex-container {
    display: flex;
}

.flex-container > * {
    flex: 1;
}

img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

li {
    margin: 20px 0;
}
