<div *ngIf="version$ | async as version" class="card mt-4">
    <div class="flex-container">
        <div class="card-body">
            <h1 class="card-title mb-2">Witaj w programie sklepikowym!</h1>
            <h2 class="card-subtitle mb-4">Aktualna wersja: {{ version.number }}</h2>
            <p class="card-text">Co nowego?</p>
            <ul>
                <li *ngFor="let feature of version.features">{{ feature }}</li>
            </ul>
        </div>
        <div>
            <img src="assets/welcome1.jpg" alt="Welcome image" />
        </div>
    </div>
</div>
