<h1 class="h2 mb-5">Raport dzienny protokół zamknięcia sklepiku</h1>
<table class="mb-4">
  <tr>
    <th colspan="3">Dzienny Protokół Zamknięcia Sklepiku</th>
    <th colspan="2">{{ todayDate }}</th>
    <th>ZS/....../..../....</th>
  </tr>
  <tr>
    <th>Lp</th>
    <th>Kod</th>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>Ilość</th>
    <th>Suma</th>
  </tr>
  <tr>
    <td>$i</td>
    <td>$kod</td>
    <td>$nazwa</td>
    <td>$cena PLN</td>
    <td>$ilosc</td>
    <td>$suma_p PLN</td>
  </tr>
  <tr>
    <th colspan="5">Łącznie</th>
    <th>$suma PLN</th>
  </tr>
  <tr class="signature">
    <td colspan="3"><i>Saldo kasowe (pomniejszone o wkład 30zł)</i></td>
    <td colspan="3"><i>Saldo terminala (wypełniane następnego dnia)</i></td>
  </tr>
  <tr class="signature">
    <td colspan="3"><i>Podpisy załogi</i></td>
    <td colspan="3"><i>Podpis kierownika/zastępcy</i></td>
  </tr>
</table>

<button class="d-block m-auto btn btn-primary">Pobierz jako PDF</button>
