<ng-container *ngIf="!isInEditMode">
    <span (click)="toggleEditMode()">{{ originalValue?.label | defaultValue }}</span>
</ng-container>
<ng-container *ngIf="isInEditMode">
    <select
        (blur)="onNewValueConfirm()"
        [ngModel]="newValue?.id"
        (ngModelChange)="onNewValueChange($event)"
        appFocusWhenDisplayed
        class="form-select"
        name="value"
    >
        <option *ngFor="let item of list" [ngValue]="item.id">{{ item.label }}</option>
    </select>
</ng-container>
