<div class="m-0 p-0 bg-dark row h-100">
    <div class="col-6 border-right color-secondary">
        <h2 class="mb-4">W trakcie przygotowania</h2>
        <div class="row">
            <div class="order-number col-3 mb-4" *ngFor="let orderInProgress of ordersInProgress$ | async">
                {{ orderInProgress.order_number }}
            </div>
        </div>
    </div>
    <div class="col-6 color-primary">
        <h2 class="mb-4">Gotowe</h2>
        <div class="row">
            <div class="order-number col-3 mb-4" *ngFor="let orderDone of ordersDone$ | async">
                {{ orderDone.order_number }}
            </div>
        </div>
    </div>
</div>
