<div class="m-0 p-0 bg-dark row h-100">
    <div class="col-5">
        <div class="h-50 col-12 border-bottom color-secondary">
            <h2 class="mb-4">W trakcie przygotowania</h2>
            <div class="row">
                <div
                    class="order-number col-1 mb-4"
                    *ngFor="let orderInProgress of ordersInProgress$ | async; let isLast = last"
                >
                    {{ orderInProgress.order_number }}{{ isLast ? '' : ',' }}
                </div>
            </div>
        </div>
        <div class="h-50 col-12 color-primary">
            <h2 class="mb-4">Gotowe</h2>
            <div class="row">
                <div class="order-number col-1 mb-4" *ngFor="let orderDone of ordersDone$ | async; let isLast = last">
                    {{ orderDone.order_number }}{{ isLast ? '' : ',' }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-7 p-0">
        <video autoplay muted loop>
            <source src="/api/movie" type="video/mp4" />
        </video>
    </div>
</div>
