.order-number {
    font-size: 35px;
}

.color-secondary {
    color: #999;
}

.color-primary {
    color: #0eac00;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

body {
    overflow: hidden;
}
